@import "custom";

.hero-scene {
    position: relative;
    margin-bottom: 15px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/route-hero.jpg);
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .hero-scene-content {
        height: 250px;
    }

    .hero-scene-overlay {
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgb(0, 0, 0, 0), $light);
        width: 100%;
        height: 100px;
    }
}

.text-justify {
    text-align: justify;
}

.card-img-cover {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

body {
  background: $light; // ton fond clair
  background-image: radial-gradient(
    circle at 50% 40%,
    rgba($primary, 0.08) 0%,
    rgba($primary, 0.03) 35%,
    rgba($primary, 0) 70%
  );
}

.profile-picture-sm {
    height: 48px;
    width: 48px;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
}

.profile-picture-lg {
    height: 70px;
    width: 70px;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;

}

.preferences {
    min-height: 150px;
}